In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_gharbazars.csv')

In [3]:
df.shape

(615, 18)

In [8]:
df.head(10)

,price,LAND AREA,HOUSE AREA,Unnamed: 3,BEDS,LIVING,KITCHEN,BATHROOMS,FLOORS,FACED TOWARDS,CATEGORY,TYPE,CODE,UPDATE,VIEWS,FURNISHING,FLAT AREA,PARKING AREA
0,"Rs. 40,000 (Negotiable)\n(Forty thousand )",0-4-0-0,1200 SQUARE FEET,NaN,3.0,1.0,1.0,2.0,2.0,EAST,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB10308,5 MONTHS AGO,93,NOT FURNISHED,NaN,NaN
1,"Rs. 32,00,000 (Negotiable)\n(32 lakh per aana)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NORTH,LAND (RESIDENTIAL),NONE,GB05398,5 YEARS AGO,6556,NaN,NaN,NaN
2,"Rs. 7,00,000 (Negotiable)",999 SQUARE FEET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONE,OFFICE SPACE (COMMERCIAL),PILLAR SYSTEM,GB10444,4 MONTHS AGO,29,FULLY FURNISHED,NaN,NaN
3,"Rs. 2,30,00,000 (Negotiable)\n(Two crore thirt...",0-4-2-2,2100 SQUARE FEET,NaN,6.0,2.0,2.0,3.0,2.5,NORTH,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB07393,3 YEARS AGO,8917,NOT FURNISHED,NaN,NaN
4,"Rs. 28,00,000 (Negotiable)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONE,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB10605,1 MONTH AGO,49,NOT FURNISHED,NaN,NaN
5,"Rs. 1,25,000 / month (Negotiable)\n(One lakh t...",0-10-0-0,0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NONE,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB10313,5 MONTHS AGO,54,NOT FURNISHED,NaN,NaN
6,"Rs. 3,40,00,000 (Negotiable)\n(Three crore for...",0-3-2-0,0-3-2-0,NaN,6.0,2.0,2.0,NaN,3.0,SOUTH,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB10390,4 MONTHS AGO,71,FULLY FURNISHED,NaN,NaN
7,"Rs. 5,35,00,000 (Negotiable)\n(Five crore thir...",0-7-1-0,0-7-1-0,NaN,7.0,3.0,2.0,NaN,3.5,SOUTH-WEST,HOUSE (RESIDENTIAL),PILLAR SYSTEM,GB09986,8 MONTHS AGO,127,NOT FURNISHED,NaN,NaN
8,"Rs. 7,00,00,000 (Negotiable)\n(7 crore)",0-8-0-0,0-4-0-0,NaN,6.0,2.0,2.0,NaN,3.0,WEST,HOUSE (COMMERCIAL/RESIDENTIAL),PILLAR SYSTEM,GB04468,5 YEARS AGO,1766,FULLY FURNISHED,NaN,NaN
9,"Rs. 6,50,000 (Negotiable)\n(Six lakh fifty tho...",3-0-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONE,BUNGALOW (RESIDENTIAL),PILLAR SYSTEM,GB09324,1 YEAR AGO,1226,NOT FURNISHED,NaN,NaN

In [7]:
df.isnull().sum()

price             75
LAND AREA         28
HOUSE AREA       438
Unnamed: 3       615
BEDS             300
LIVING           339
KITCHEN          314
BATHROOMS        375
FLOORS           304
FACED TOWARDS      8
CATEGORY           0
TYPE               0
CODE               0
UPDATE             0
VIEWS              0
FURNISHING       208
FLAT AREA        598
PARKING AREA     612
dtype: int64

In [ ]:
df = df.drop(columns={'HOUSE AREA','LIVING','KITCHEN','CODE','VIEWS','FURNISHING','FLAT AREA',''})